<div class="row mb-4">
  <div class="col">
    <h2 class="mb-0">Posts</h2>
  </div>

  <div class="col text-right">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
  </div>
</div>

<% unless @posts.any? %>
  <p>No posts found.</p>
<% else %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Overtime Request</th>
          <th scope="col">Date</th>
          <th scope="col">Rationale</th>
          <th scope="col">Status</th>
          <th scope="col">User</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <%= render @posts %>
      </tbody>
    </table>
  </div>

  <%= paginate @posts %>
<% end %>
